:root {
  --heading-family-font: "Montserrat", sans-serif;
  --primary-colour: #21273d;
  --secondary-colour: #6a759b;
  --tertiary-colour: #b9d4f1;
  --background-colour: #f1f6f8;
}

body {
  background-color: var(--tertiary-colour);
  font-family: var(--heading-family-font);
}

h1,
h2,
h3 {
  color: var(--tertiary-colour);
}

.hero {
  padding: 160px 60px 60px;
  background-color: var(--primary-colour);
}

h1 {
  font-size: 96px;
}

.col-4 {
  text-align: right;
  padding: 10px;
}

h3 {
  font-style: italic;
}

.homepage-skills {
  padding-top: 100px;
}

.skills-box {
  background-color: var(--background-colour);
  border: 2px solid var(--secondary-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--secondary-colour);
  text-align: center;
  padding: 20px 10px;
  color: var(--secondary-colour);
  margin: 20px;
}

.btn-branding {
  background-color: var(--secondary-colour);
  color: var(--background-colour);
  padding: 10px 20px;
}
@media (max-width: 960px) {
  .hero {
    padding: 60px 20px;
  }
  h1 {
    font-size: 64px;
  }
}
