:root {
  --heading-family-font: "Montserrat", sans-serif;
  --primary-colour: #21273d;
  --secondary-colour: #6a759b;
  --tertiary-colour: #b9d4f1;
  --background-colour: #f1f6f8;
}

body {
  background-color: var(--tertiary-colour);
  font-family: var(--heading-family-font);
}

h1,
h2,
h3 {
  color: var(--tertiary-colour);
}

.hero {
  padding: 40px 60px 60px;
  background-color: var(--primary-colour);
}

nav {
  padding: 0px 0px 60px 0px;
}

nav h2 {
  font-size: 25px;
}
nav ul {
  color: var(--tertiary-colour);
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--tertiary-colour);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-colour);
}

h1 {
  font-size: 96px;
}

.col-4 {
  text-align: right;
  padding: 10px;
}

.col-6 {
  padding: 0 50px;
}

h3 {
  font-style: italic;
}

.homepage-skills {
  padding-top: 100px;
}

h5 {
  font-weight: bold;
  color: var(--primary-colour);
}

.skills-box {
  background-color: var(--background-colour);
  border: 2px solid var(--secondary-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--secondary-colour);
  text-align: center;
  padding: 20px 10px;
  color: var(--secondary-colour);
  margin: 20px;
}

.btn-branding {
  background-color: var(--secondary-colour);
  color: var(--background-colour);
  padding: 10px 20px;
}

img {
  max-width: 300px;
  border-radius: 10px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

p {
  text-align: justify;
  color: var(--primary-colour);
}

.my-skills {
  line-height: 30px;
}

.picture-caption {
  color: var(--primary-colour);
  font-size: 20px;
  line-height: 30px;
}

.content-contact {
  font-size: 60px;
}

footer {
  margin: 100px 0 60px 0;
}

footer h5 {
  font-size: 30px;
}

footer .contact-box {
  background: var(--background-colour);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-colour);
}

footer .email-link:hover {
  color: var(--secondary-colour);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-colour);
  background: var(--background-colour);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: var(--background-colour);
  background: var(--secondary-colour);
}

@media (max-width: 960px) {
  .hero {
    padding: 40px 20px;
  }

  ul {
    padding: 10px;
  }

  nav li {
    font-size: 15px;
  }

  h1 {
    font-size: 64px;
  }
  .homepage-skills {
    padding-top: 20px;
  }
  .my-skills {
    text-align: center;

    padding: 0px 50px;
  }
  h5 {
    padding-bottom: 20px;
  }
}
